# auto = local si backend dev répond, sinon Render (recommandé en dev)
# local = forcer http://<ton-ip>:3001
# prod = forcer https://biso-api.onrender.com
EXPO_PUBLIC_API_MODE=auto

EXPO_PUBLIC_API_URL=https://biso-api.onrender.com
